
#tablero{
    width: 900px;
    display: flex;
    flex-wrap: wrap;
}

.tecla-blanca{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 80px;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
}

.tecla-negra{
    background-color: #000000;
    color: white;
    font-size: 80px;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
}


