#contenedor{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px
}

.tecla-numerica{
    background-color: #be8125;
    color: white;
    font-size: 80px;
    width: 100px;
    height: 100px;
}
