#tshirts{
    display: flex;
    justify-content: space-around;
    width: 100;
}

.camiseta{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(143, 143, 143);
    border-radius: 10px;
    padding: 30px;
}

.camiseta h3{
    color: rgb(233, 201, 58);
}

.camiseta button{
     width: 80%;
     background-color: firebrick;
}